@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

.App {
  text-align: center;
  background-color: #171917;
  color: rgb(232, 234, 237);
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  position: fixed;
  border-bottom: 0.3px solid rgb(117, 117, 119);
}

.headerContainer h5 {
  padding-left: 3%;
  margin: 0;
}

.headerContainer a {
  margin-right: 3%;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.headerContainer .notLink {
  text-decoration: none;
  color: inherit;
  width: 16rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(117, 117, 119, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
